*.idea
tmp/
*.DS_store
analyze_training_results/*annotated*
analyze_training_results/*predictions*
analyze_training_results/*labels*
analyze_training_results/*.cif
analyze_training_results/*.pdb
analyze_training_results/*.csv
analyze_training_results/*.cxc
analyze_training_results/0608/
protein_classification/*predictions*
protein_classification/*annotated*
